<body>


    <br>
    <h1 align="center">Welcome to Trollee's Seller Web Based Portal</h1>
    <div class="registerbox">
      <h1 class="heading">Registration Form</h1>
      <form id="RegistrationForm" method="POST" action="">
        <p>First Name</p>
        <input type="text" id=firstName placeholder="Enter First Name">
        <p>Last Name</p>
        <input type="text" id=lastName placeholder="Enter Last Name">
        <p>Email</p>
        <input type="text" id=email placeholder="Enter Email">
        <p>Password</p>
        <input type="password" id=password placeholder="Enter Password">
        <p>Confirm Password</p>
        <input type="password" id=regConfirmPassword placeholder="Enter Confirm Password">
        <input type="submit" value="Register">
      </form>
    </div>
    
    </body>