<!doctype html>

<html lang="en">

<body>

<br>
<h1>Welcome to Trollee's Seller Web Based Portal</h1>


<div class="loginbox">
    <h1>Please Log In</h1>
  <form method="post" action="login">
        <p>Email</p>
        <input type="text" name="email" id="email" placeholder="Enter Email">
        <p>Password</p>
        <input type="password" name="password" id="password" placeholder="Enter Password">
        <input type="submit" name="loginButton" value="Login">
<!--        <a href="forgotpassword.html">Forgot your password?</a><br>-->
        <a routerLink='/signup'>Don't have an account?</a>
    </form>
</div>



</body>
</html>











