.badge-brand-green{
    
    background-color: greenyellow;
    color: #2e2f39;
}
.badge-brand-red {
    background-color: pink !important;
    color: #2e2f39;
}
.badge-brand-blue{
    background-color: red !important;
    color: #2e2f39;
}
.badge-brand-orange{
    background-color: orange !important;
    color: #2e2f39;
}
.custom-control-label::before {
    top:5px !important;
}
.dateicon{
    margin-left: 1px !important;
    
}