<div class="dashboard-wrapper">
  <div class="container-fluid dashboard-content ">
    <!-- ============================================================== -->
    <!-- pageheader  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- end pageheader  -->
    <!-- ============================================================== -->
    <button class="btn btn-primary" routerLink="/dashboard/sellerdashboard">Back</button>
    <div class="row">
      <div class="offset-xl-2 col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card">
          <div class="card-header p-4">
            <a class="pt-2 d-inline-block"><img src="assets/images/bannerlogo.png"></a>
          </div>

          <div class="pills-regular">
            <div style="margin:0px 0px 0px 10px">
              <h2>Payment Summary</h2>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Recent Payments</th>
                    <th scope="col">Available Balance</th>
                    <th scope="col">Pending Balance</th>
                    <!-- <th scope="col">Action</th> -->
                  </tr>
                </thead>
                <tbody>
                  <!-- <tr *ngFor="let item of invoice.products; let i=index"> -->
                  <tr>
                    <th scope="row">1</th>
                    <td>$2600</td>
                    <td>$5500</td>
                    <td>$250</td>
                    <!-- <td><button class="btn btn-primary" routerLink="/dashboard/view-shipment">View</button></td> -->
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>$1500</td>
                    <td>$7500</td>
                    <td>$850</td>
                    <!-- <td><button class="btn btn-primary" routerLink="/dashboard/view-shipment">View</button></td> -->
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>$7500</td>
                    <td>$11000</td>
                    <td>$350</td>
                    <!-- <td><button class="btn btn-primary" routerLink="/dashboard/view-shipment">View</button></td> -->
                  </tr>

                </tbody>
              </table>
            </div>



          </div>

        </div>
      </div>
    </div>
  </div>
</div>