<div class="dashboard-wrapper">
  <div class="dashboard-ecommerce">
    <div class="container-fluid dashboard-content ">
      <!-- ============================================================== -->
      <!-- pageheader  -->
      <!-- ============================================================== -->
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <div class="page-header">
            <h2 class="pageheader-title">Seller Dashboard </h2>
            <div class="page-breadcrumb">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Seller Dashboard </li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </div>
      <!-- ============================================================== -->
      <!-- end pageheader  -->
      <!-- ============================================================== -->

      <div class="row">
        <div class="col-xl-2 col-lg-3 col-md-6 col-sm-5 col-5">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Your Orders</h4>
              <table class="table">
                <thead class="bg-light">
                  <div class="card-text">
                    <label class="card-text">Payment Pending</label>
                  </div>
                  <div class="card-text right-corner">
                    <label class="card-text">{{getpending}}</label>
                  </div>
                  <div class="card-text">
                    <label class="card-text">Payment Completed</label>
                  </div>
                  <div class="card-text right-corner2">
                    <label class="card-text">{{getCompleted}}</label>
                  </div>
                  <div class="card-text">
                    <label class="card-text">Delivery in Progress</label>
                  </div>
                  <div class="card-text right-corner3">
                    <label class="card-text">{{getDeliveryProgress}}</label>
                  </div>
                  <div class="card-text">
                    <label class="card-text">Order Completed</label>
                  </div>
                  <div class="card-text right-corner4">
                    <label class="card-text">{{completed}}</label>
                  </div>
                </thead>
              </table>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Seller Fulfilled</h4>
              <table class="table">
                <thead class="bg-light">
                  <div class="card-text">
                    <label class="card-text">Last 7 Days</label>
                  </div>
                  <div class="card-text right-corner">
                    <label class="card-text">5</label>
                  </div>
                  <div class="card-text">
                    <label class="card-text">Last 15 Days</label>
                  </div>
                  <div class="card-text right-corner2">
                    <label class="card-text">20</label>
                  </div>
                  <div class="card-text">
                    <label class="card-text">Last 30 Days</label>
                  </div>
                  <div class="card-text right-corner3">
                    <label class="card-text">20</label>
                  </div>
                </thead>
              </table>
            </div>
          </div>



          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Fulfilled by Trollee</h4>
              <table class="table">
                <thead class="bg-light">
                  <div class="card-text">
                    <label class="card-text">Last 7 Days</label>
                  </div>
                  <div class="card-text right-corner">
                    <label class="card-text">20</label>
                  </div>
                  <div class="card-text">
                    <label class="card-text">Last 15 Days</label>
                  </div>
                  <div class="card-text right-corner2">
                    <label class="card-text">200</label>
                  </div>
                  <div class="card-text">
                    <label class="card-text">Last 30 Days</label>
                  </div>
                  <div class="card-text right-corner3">
                    <label class="card-text">20</label>
                  </div>
                </thead>
              </table>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xl-12 col-lg-3 col-md-6 col-sm-5 col-5" style="width: 980px;">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">History of Items Listed</h4>
                <div class="table-responsive">
                  <table class="table">
                    <thead class="bg-light">
                      <tr class="border-0">
                        <th class="border-0">#</th>
                      
                        <th class="border-0">Product Name</th>
                        <th class="border-0">Product ID</th>
                        <th class="border-0">Manufacturer</th>
                        <th class="border-0">SKU</th>
                        <th class="border-0">Quantity Available</th>
                        <th class="border-0">Price</th>
                        <th class="border-0">Stock Status</th>
                      </tr>
                    </thead>
                    <tbody *ngFor="let item of products | paginate: { itemsPerPage: 5, currentPage: p } ; let i=index">
                    <!-- <tbody *ngFor="let item of products | paginate: { itemsPerPage: 5, currentPage: p }" > -->
                      <tr >
                        <td>{{i+1}}</td>
                       
                        <td>{{item.productName}} </td>
                        <td>{{item.id}} </td>
                        <td>{{item.manufacturerName}}</td>
                        <td>{{item.sku}} </td>
                        <td style="padding-left: 50px;">{{item.quantity}}</td>
                        <td>${{item.productPrice}}</td>
                        <td><span class="badge-dot "
                          [class.badge-brand-green]="item.availibility=='In Stock'"
                          [class.badge-brand-red]="item.availibility=='Out Of Stock'"
                          
                          ></span>{{item.availibility}}</td>
                      </tr>
                     
                      <!-- <tr>

                        <td colspan="9"><a href="manage_inventory.html" class="btn btn-outline-light float-right">View
                            Details</a></td>
                      </tr> -->

                    </tbody>
                  </table>
                  <pagination-controls class="float-right" (pageChange)="p = $event"></pagination-controls>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xl-12 col-lg-3 col-md-6 col-sm-5 col-5" style="left: 15px;">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Payment Summary</h4>
                <table class="table">
                  <thead class="bg-light">
                    <div class="card-text">
                      <label class="card-text">Most recent payment:</label>
                    </div>
                    <div class="card-text">
                      <label class="card-text">$ 40,500</label>
                    </div>
                    <div class="card-text">
                      <label class="card-text">Balance Amount:</label>
                    </div>
                    <div class="card-text">
                      <label class="card-text">$ 5,000</label>
                    </div>
                  </thead>
                  <tr>
                    <td colspan="9"><a class="btn btn-outline-light float-right"
                        routerLink="/dashboard/payment-summary">View Payment Summary</a></td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Sales Summary</h4>
                <table class="table">
                  <thead class="bg-light">
                    <tr class="border-0">
                      <th class="border-0"></th>
                      <th class="border-0">Product Sales</th>
                      <th class="border-0">Units</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>7 Days</td>
                      <td>505000</td>
                      <td>40000</td>
                    </tr>
                    <tr>
                      <td>15 Days</td>
                      <td>5120</td>
                      <td>200</td>
                    </tr>
                    <tr>
                      <td>30 Days</td>
                      <td>5450</td>
                      <td>100</td>
                    </tr>
                    <tr>
                      <td colspan="9"><a class="btn btn-outline-light float-right"
                          routerLink="/dashboard/sales-summary">View Sales Summary</a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- ============================================================== -->
  <!-- footer -->
  <!-- ============================================================== -->
  <div class="footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
          Copyright © 2018-2019 Trollee. All rights reserved.
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
          <div class="text-md-right footer-links d-none d-sm-block">
            <a href="javascript: void(0);">About</a>
            <a href="javascript: void(0);">Support</a>
            <a href="javascript: void(0);">Contact Us</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ============================================================== -->
  <!-- end footer -->
  <!-- ============================================================== -->
</div>